.header {
    background: var(--dark-color);
    padding: 27px 0;
}

.header__info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__info-logo {
    margin-right: 30px;
}

.header__info-line {
    width: 1px;
    height: 46px;
    background: var(--line-color);
    margin-right: 30px;
}

.header__info-nav-link-loc {
    font-family: var(--accent-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.7px;
    color: var(--white-color);
    margin-right: 346px;
    transition: var(--transition-function);

    &:hover {
        color: var(--link-hover-color);
    }
}

.header__info-img {
    margin-right: 10px;
    vertical-align: middle;
}

.header__info-nav-link {
    font-family: var(--accent-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.7px;
    color: var(--white-color);
    transition: var(--transition-function);

    &:not(:last-child) {
        margin-right: 30px;
    }

    &:hover {
        color: var(--link-hover-color);
    }
}