.hero {
    width: 1920px;
    background-image: url("../img/hero/hero-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 152px 0 40px 0;
}

.hero__content {
    display: flex;
    flex-direction: column;
    max-width: 920px;
    margin: 0 auto 120px auto;
    padding: 45px 71px;
    border: 1px solid var(--gold-color);

}

.hero__content-title {
    font-family: var(--accent-font);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.2px;
    color: var(--white-color);
    text-align: center;
    margin-bottom: 45px;
}

.hero__content-text {
    font-family: var(--accent-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 158%;
    max-width: 777px;
    color: var(--white-color);
    text-align: center;
    padding: 0 90px;
}

.hero__button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background: transparent;
    border: none;
    opacity: 0.8;
    transition: var(--transition-function);

    &:hover {
        opacity: 1;
    }
}