:root {
    --accent-font: 'Roboto', sans-serif;
    --btn-hover-color: #8f5e03;
    --dark-color: #2F343A;
    --gold-color: #C8A35F;
    --line-color: #F2F2F2;
    --link-hover-color: #0059ff;
    --services-bg: #393F47;
    --white-color: #FFFFFF;
    --transition-function: 350ms ease-out;
}
